<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Consumption Forecast</title>

    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center">Energy Consumption Forecast</h1>

        <form class="mt-4" action="/predict" method="post">
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" name="date" required>
            </div>

            <div class="form-group">
                <label for="hour">Hour:</label>
                <input type="number" class="form-control" name="hour" min="0" max="23" required>
            </div>

            <button type="submit" class="btn btn-primary">Predict</button>
        </form>

        {% if prediction is not none %}
        <div class="mt-4">
            <h2>Predicted Energy Consumption:</h2>
            <p>{{ prediction }} MW</p>
            
            <!-- Visualization for Truth Data and Predictions -->
            <div>
                <h3>Truth Data and Predictions</h3>
                <!-- Use a relative path for the image -->
               <!-- Use a relative path to the image in the "static" folder -->
            <img src="{{ url_for('static', filename='output.jpg') }}" alt="Prediction Plot">
            </div>
        
            <br><div>
                <h3>Raw Dat and Prediction</h3>
                <!-- Use a relative path for the image -->
               <!-- Use a relative path to the image in the "static" folder -->
            <img src="{{ url_for('static', filename='output2.png') }}" alt="Prediction Plot">


            </div>
        </div>
        {% endif %}
        
    </div>

    <!-- Add Bootstrap JS and Popper.js (for Bootstrap features) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
